doctype html
html(lang="en")

include ./_includes/head.jade

body
	h1 Bickin Back Bein Boolio
	p today
	p its working

	.modal.profile-modal
		.profile
			img.profile__img(src="http://1000watt.net/wp/wp-content/themes/roots-1kw/assets/img/members/dd.png")
			.profile__info
				h3 Nathan Rothenberger
				a(mailto:nroth10@gmail.com).profile__contact nathan@1000watt.net
			p.profile__blurb Knausgaard blog you probably haven't heard of them poutine etsy asymmetrical. Kickstarter gochujang literally blue bottle. Everyday carry waistcoat swag church-key humblebrag kitsch. Tacos gentrify selvage mumblecore. Swag you probably haven't heard of them kombucha whatever brunch. Wolf drinking vinegar tofu, skateboard stumptown kogi butcher listicle.
			a.btn contact me
			a.btn--close
