head
	meta(charset="utf-8")
	title New Hire &;mdot 1000 Watts
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(href="assets/css/main.css" rel="stylesheet" type="text/css")
	//- TYPEKIT
	<script src="https://use.typekit.net/ahf1hga.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	meta(thing)