// Tools
@import "/node_modules/normalize.css/normalize.css";
@import "bourbon/bourbon";

// Base

// @import '2-variables'

// 1000 Watts Colors
$c1001: #e9792f;
$c1002: #fab62f;
$c1003: #d37cb1;
$c1004: #92c969;
$c1005: #4d8dc8;
$c1006: #99c1e4;

$radius: 5px;
// Other Colors
$grey-1: #686868;
$grey-2: #a7a9ac;
$accent-color: $c1004;

// Helpful Classes
.hide { display: none!important; }


@import '2-base';



// Modules
@import '3-profile';
@import '3-button';

header {
	display: block;
	position: relative;
	background-color: whitesmoke;
	@include display(flex);
	align-items: center;
	justify-content: space-between;

	img {
		@include size(3.125rem auto);
	}

	a {
		font-family: $proxima;
		text-transform: uppercase;
		font-size: 1.625rem;
	}
}

nav {

	a {
		display: block;
		font-size: 1rem;
		padding: .5rem 1rem;
		&:nth-child(1) { background-color: $c1001; }
		&:nth-child(2) { background-color: $c1002; }
		&:nth-child(3) { background-color: $c1003; }
		&:nth-child(4) { background-color: $c1004; }

	}
}









